<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=utf-8" />
  <title>AJAX test</title>
  <script>
      calc_url= location.protocol + "//" + location.host +
          "/number/view.json"
      function send_query(){
          var frm = document.forms.num_form;
          var param_str = "?v1=" + encodeURIComponent(frm.v1.value);
          if (param_str == "") return false;

          var my_JSON_object = {};
          var http_request = new XMLHttpRequest();
          http_request.open("GET", calc_url+param_str, true);
          http_request.onreadystatechange = function () {
              var done = 4, ok = 200;
              if (http_request.readyState == done &&
                  http_request.status == ok) {
                  my_JSON_object =
                      JSON.parse(http_request.responseText);
                  show_result(my_JSON_object);
              }
              else{
                  show_bad_request()
              }
          };
          http_request.send(null);
          return false;
      }
      function show_result(data){
          var result = document.getElementById("result");
          result.innerHTML = "<h1>Результат:</h1>"
          var tableData = data.value;
          var tableHTML = "<table border='1'>";
          tableHTML += "<tr><td> Порядковый номер </td><td> Результат</td> </tr>";
          for (var i = 1; i <= tableData.length; i++) {
              tableHTML += "<tr>";
              tableHTML += "<td>" + i + "</td>";
              tableHTML += "<td>" + tableData[i-1] + "</td>";
              tableHTML += "</tr>";
          }
          tableHTML += "</table>";

          result.innerHTML += tableHTML;
          console.log(tableData);
      }
      function show_bad_request(){
          var result = document.getElementById("result");
          result.innerHTML = "<hr/>Bad request! Enter valid numbers!<hr/>";
      }
  </script>
</head>

<body>
<h1>Автоморфные числа</h1>
<form name="num_form" method="get">
  <label for="">Введите число: </label>
  <input id="v1" name="v1" type="text" placeholder='123' autocomplete='off'><br>
  <input name="commit" type="submit" value="Результат" onclick="return send_query();">
</form>

<div id="result">

</div>

</body>
